@use 'colors';

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;

  &::selection {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  width: fit-content;
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin: 0;
}

p + p {
  margin: 12px 0;
}
